@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400&family=Barlow:ital,wght@0,300;0,400;1,200&family=Bellefair&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; */

@layer base {
  body {
    @apply text-white;
  }
  h1 {
    @apply font-bellefair text-[80px] leading-normal uppercase md:text-[150px];
  }
  h2 {
    @apply font-bellefair text-[56px] md:text-[80px] lg:text-[100px] uppercase leading-normal;
  }
  h3 {
    @apply font-bellefair text-[24px] md:text-[40px] lg:text-[56px] uppercase;
  }
  h4 {
    @apply text-base md:text-[24px] lg:text-[32px] uppercase leading-normal;
  }
  h5 {
    @apply font-barlow-condensed text-base uppercase tracking-[4.7px] text-primary md:text-[20px] lg:text-[28px];
  }
}

@layer utilities {
  .sub-heading-1 {
    @apply font-bellefair lg:text-[28px] uppercase;
  }
  .sub-heading-2 {
    @apply font-barlow-condensed lg:text-[14px] tracking-[2.35px] uppercase text-primary;
  }
  .nav-text {
    @apply font-barlow-condensed text-base md:text-[14px] lg:text-base uppercase tracking-[2.7px];
  }

  .bg-home {
    @apply bg-dark bg-[url('../public/assets/home/background-home-mobile.jpg')] bg-cover bg-center md:bg-[url('../public/assets/home/background-home-tablet.jpg')] lg:bg-[url('../public/assets/home/background-home-desktop.jpg')];
  }
  .bg-crew {
    @apply bg-dark bg-[url('../public/assets/crew/background-crew-mobile.jpg')] bg-cover bg-center md:bg-[url('../public/assets/crew/background-crew-tablet.jpg')] lg:bg-[url('../public/assets/crew/background-crew-desktop.jpg')];
  }
  .bg-destination {
    @apply bg-dark bg-[url('../public/assets/destination/background-destination-mobile.jpg')] bg-cover bg-center md:bg-[url('../public/assets/destination/background-destination-tablet.jpg')] lg:bg-[url('../public/assets/destination/background-destination-desktop.jpg')];
  }
  .bg-technology {
    @apply bg-dark bg-[url('../public/assets/technology/background-technology-mobile.jpg')] bg-cover bg-center md:bg-[url('../public/assets/technology/background-technology-tablet.jpg')] lg:bg-[url('../public/assets/technology/background-technology-desktop.jpg')];
  }
  .text-body {
    @apply font-barlow leading-relaxed text-primary text-base;
  }
  .btn-effect {
    @apply before:absolute before:-z-10 before:rounded-full before:w-[100%] before:h-[100%] before:top-1/2 before:left-1/2 before:opacity-0 before:-translate-x-1/2 before:-translate-y-1/2 hover:before:w-[150%] hover:before:h-[150%] hover:before:opacity-100 before:bg-in-between before:transition-all before:duration-300;
  }
  .btn-effect::before {
    content: " ";
  }
  .nav-space {
    @apply py-16 pt-32 md:pt-44 lg:pt-64;
  }
}

@supports (not ((-webkit-backdrop-filter: none) or (backdrop-filter: none))) {
  .nav-link-effect {
    @apply md:bg-dark lg:bg-dark/95;
  }
  .nav-link-effect-mobile {
    @apply bg-dark/95;
  }
}
